* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}



.hero {
    /* background-color: rgb(0, 0, 0); */
    /* background-image: url(images/hero-1.jpg); */
    /* height: 100vh; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
    position: relative;
}

.hero::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(23, 23, 44, 0.434);
    animation: heroanime 10s infinite linear;
    top: 0;
    left: 0;
    z-index: 11;
}

.hero-btn {
    background-color: #3C8A71 !important;
    padding: 10px 24px !important;
    color: white !important;
    border-radius: 30px !important;
    transition: all linear .3s;
}

.hero-btn:hover {
    background-color: #275547 !important;
}

.hero-logo {
    width: 170px;
}

.navbar {
    position: relative;
    z-index: 999;
}

.navbar-nav {
    background-color: rgba(255, 255, 255, 0.119);
    backdrop-filter: blur(40px);
    font-size: 17px;
    color: white !important;
    border-radius: 30px;
    gap: 15px;
    /* display: flex;
    align-items: center; */
    /* padding-right: 5px !important; */
    padding: 5px 5px !important;
}

.nav-item a {
    color: white !important;
    border-radius: 20px;
    font-weight: 600;
    padding: 10px !important;
}

.nav-item a:hover {
    background-color: white;
    color: #275547 !important;
}

.hero-contant h1 {
    font-size: 95px;
    font-weight: 700;
    position: relative;
    z-index: 11;
}

.hero-contant P {
    position: relative;
    z-index: 11;
}

.Discover-work {
    width: 500px;
    height: 120px;
    border: 5px solid rgb(255, 255, 255);
    margin-right: 200px;
    display: flex;
    background-color: white;
    border-radius: 20px 20px 0 0;
    position: relative;
    z-index: 22 !important;
}

/* .Discover-work::before{
    content: '';
    width: 40px;
    height: 40px;
    background-color: white;
    border: 1px solid black;
    position: absolute;
    bottom: -10px;
    left: -35px;
    clip-path: polygon(75% 0, 75% 19%, 75% 35%, 74% 51%, 66% 64%, 57% 72%, 43% 81%, 27% 86%, 0 87%, 0 100%, 84% 100%, 100% 100%, 100% 57%, 100% 0, 84% 0);
} */

.Discover-work-1 {
    width: 50%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 20px;
}

.Discover-work-1 img {
    width: 110%;
    height: 105%;
    object-fit: cover;
    /* padding: 5px; */
    border-radius: 20px;
}

.hero-btn-2 {
    background-color: #3C8A71 !important;
    padding: 14px 24px !important;
    color: white !important;
    border-radius: 30px !important;
    transition: all linear .3s;
    position: relative;
    z-index: 11;
}

.hero-btn-2:hover {
    background-color: #275547 !important;

}

.Discover-work-2 {
    width: 50%;
}

.Discover-work-2-top i {
    background-color: #275547;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    /* margin-left: 15px; */
}

.Discover-work-2 p {
    font-size: 15px;
}

.carousel {
    top: 0;
    left: 0;
}

.carousel-item img {
    animation: heroanime 6s ease infinite;
}


@keyframes heroanime {
    0% {
        scale: 1;
    }

    100% {
        scale: 1.1;
    }
}



/* new section Pioneering right */

.Pioneering-right h5 {
    font-weight: 500;
}

.Pioneering-right h2 {
    font-size: 3.4vw;
}

.Pioneering-right p {
    font-size: 1.15vw;
}

.Pioneering-right-box p {
    font-size: 1vw;
}

.Pioneering-right-box h1 {
    font-weight: 550;
}

.Pioneering-right a {
    padding: 12px 13px;
    background-color: #3C8A71;
    text-decoration: none;
    color: white;
    border-radius: 30px;
    margin-bottom: 20px !important;
}

.Pioneering-right a:hover {
    background-color: #275547;
}


/* new section  Pioneering-left */
.Pioneering-left {
    background-image: url(images/Pioneering-left.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Top-Innovator {
    bottom: -15px;
    right: 0;
    background-color: #275547;
    border-top: 10px solid white;
    border-left: 10px solid white;
    border-bottom: 10px solid white;
    /* border: 10px solid white; */
    border-radius: 20px 0 0 20px;
}

.Top-Innovator i {
    font-size: 40px;
    color: #D8FB5A;
}

.Top-Innovator h4 {
    font-weight: 600;
    color: #D8FB5A;
}

.Top-Innovator p {
    font-size: 17px;
    color: white;
}

/* new section Exceptional ****/
.Exceptional {
    background-color: #1A211E;
    color: white;
    position: relative;
}

/* Exceptional left */

.Exceptional-left{
    position: sticky !important;
    height: fit-content;
    top: 5%;
}

.Exceptional-left h1 {
    font-size: 3.3vw;
    font-weight: 550;
}

.Exceptional-left p {
    font-size: 1.1vw;
}

.Exceptional-left a{
    padding: 12px 20px;
    background-color: #1A211E;
    color: white;
    border: 1px solid #6DAE98;
    border-radius: 30px;
    text-decoration: none;
    transition: all ease-in-out .3s;
}

.Exceptional-left a:hover{
    background-color: #C0DF53;
    color: black;
}

/* Exceptional-right */

.thid-box{
    background-color: #245243;
    width: fit-content;
    border-radius: 25px;
    margin-bottom: 20px;
    position: sticky;
    top: 5%;
}
.thid-box img{
    width: 5vw;
}

.thid-box h3{
    color: #D8FB5A;
}

.thid-box p{
    color: #6DAE98;
}

.thid-box a{
    padding: 10px 25px;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 30px;
    color: white;
    transition: all .10s ease;
}

.thid-box a:hover{
    background-color: #C0DF53;
    color: black;
}


/* new section Why-you-should */
.Why-you-should h2{
    font-size: 3vw;
    font-weight: 550;
}

.Why-you-should p{
    font-size: 1.4vw;
    color: #5F6563;
}

/* box */

.Why-you-should-box{
    border-radius: 15px;
    border: 1px solid #245243;
}

.Why-you-should-box h1{
    padding: 0.5vw 0.5vw;
    background-color: #3C8A71;
    color: #D8FB5A;
    border-radius: 15px;
    font-weight: 550;
}

.Why-you-should-box h2{
    font-size: 2vw;
    color: black;
}

.Why-you-should-box p{
    font-size: 1.2vw;
}


.work-with-us-slid{
    animation: Why-you-should-box-slider-anime 15s linear infinite;
}

.work-with-us-slid img{
    filter: grayscale(100%);
    opacity: 60%;
    /* width: 100% !important; */
    margin-right: -20px !important;
    transition: all .3s ease;
}

.work-with-us-slid img:hover{
    filter: grayscale(0);
    opacity: 100%;
}

@keyframes Why-you-should-box-slider-anime{
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0%);
    }
    14.29%{
        transform: translateX(-100%);
    }
    15.29%{
        transform: translateX(-100%);
    }
    28.58%{
        transform: translateX(-200%);
    }
    38.58%{
        transform: translateX(-200%);
    }
    42.87%{
        transform: translateX(-300%);
    }
    52.87%{
        transform: translateX(-300%);
    }
    57.16%{
        transform: translateX(-400%);
    }
    66.16%{
        transform: translateX(-400%);
    }
    71.45%{
        transform: translateX(-500%);
    }
    80.45%{
        transform: translateX(-500%);
    }
    85.74%{
        transform: translateX(-600%);
    }
    95.74%{
        transform: translateX(-600%);
    }
    100%{
        transform: translateX(-700%);
    }
}


/* new section  Comprehensive */
.Comprehensive{
    background-image: url("images/Comprehensive-1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    border-radius: 20px;
    height: 90vh;
    position: relative;
}

.Comprehensive::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.21);
    border-radius: 20px;

}

.Comprehensive h5{
    margin-top: 100px !important;
    position: relative;
    z-index: 111;
}

.Comprehensive h2{
    color: white;
    font-size: 3.4vw;
    position: relative;
    z-index: 111;
    
}

.Comprehensive p{
    color: white;
    font-size: 1.2vw;
    position: relative;
    z-index: 111;
}

.Comprehensive-box{
    background-color: #245243;
    border-radius: 10px;
    margin-top: -200px !important;
    border: 7px solid white;
    position: relative;
    z-index: 111;
}

.Comprehensive-box img{
    width: 4.5vw;
}

.Comprehensive-box h3{
    /* color: red !important; */
    font-size: 2vw;
}

.Comprehensive-box p{
    font-size: 1vw;
}



.Empowering-left img{
    width: 100%;
    border-radius: 20px;
}

/* new section Empowering-right */
.Empowering-right{
    color: black;
}

.Empowering-right h5{
    font-size: 1.7vw;
}

.Empowering-right h2{
    font-size: 3.2vw;
}

.Empowering-right p{
    font-size: 1.2vw;
}

/* Empowering-boxe */

.Empowering-boxes{
    border: 9px solid white !important;
}

.Empowering-boxe{
    background-color: #245243;
    border-radius: 20px !important;
    margin-top: -170px !important;
    border: 9px solid white !important;

}


.Empowering-boxe img{
    width: 5vw;
}

.Empowering-boxe h2{
    color: #C0DF53;
    font-size: 2vw;
}

.Empowering-boxe p{
    color: #C0DF53;
    font-size: 1.1vw;
}


/* new section Green-Energy */




.Green-Energy-text h2{
    font-size: 3vw;
}

.Green-Energy-text p{
    font-size: 1.3vw;
}

.Green-Energy-image{
    border-radius: 20px !important;
}
.Green-Energy-image-1{
    border-radius: 13px !important;
}


/* inside text part */
.Green-Energy-text-2{
    position: absolute;
    bottom: 0;
    left: 45%;
    /* border: 2px solid red; */
   background-color: white;
   border-top-left-radius: 1vw;
}

.Green-Energy-text-2 h2{
    font-size: 3vw;
    font-family: Arial, Helvetica, sans-serif;
    
}

.Green-Energy-text-2 h3{
    font-size: 1.1vw;
    /* color: red; */
}


.Green-Energy-text-2 p{
    font-size: 0.9vw;
    /* font-weight: 550; */
    font-family: Arial, Helvetica, sans-serif;
    /* color: red; */
}


.Green-Energy-text-2 h4{
    font-size: 1.5vw;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    /* color: red; */
}

.Green-Energy-box-1{
    height: 90vh;
    position: sticky;
    top: 10%;
}


/* new setion Customers */

/* Customers-left */
.Customers-left h5{
    font-weight: 550;
    /* color: red; */
}

.Customers-left h2{
    font-weight: 630;
    /* color: red; */
    font-size: 3.3vw;
}

.Customers-left p{
    font-size: 1.2vw;
}

.Emily-Rodriguez{
    background-color: #245243;
    border-radius: 10px;
}

.Emily-Rodriguez img{
    width: 17vw;
    color: white;
}

.Emily-Rodriguez h3{
    font-size: 2vw;
    color: #ccff13;
}

.Emily-Rodriguez h4{
    color: white;
    font-weight: 550;
    font-size: 2vw;
}

.Emily-Rodriguez p{
    color: rgba(255, 255, 255, 0.462);
    font-size: 1vw;
}

.Customers-right{
    background-image: url("images/Customers-right.webp");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 95vh;
    border-radius: 20px;
    position: relative;
}

.Customers-right::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.466);
    border-radius: 20px;
}

.Customers-right a{
    padding: 14px 19px;
    background-color: #3C8A71;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 7px solid white;
    margin-left: -10px !important;
    margin-bottom: -10px !important;
    position: relative;
    z-index: 1;
    transition: all .3s linear;
}

.Customers-right a:hover{
    background-color: #245243;
}

.Customers-right span{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    color: white;
    background-color: #245243;
    /* padding: 12px; */
    width: 60px;
    height: 60px;
    font-size: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    display: flex;
    /* z-index: 111; */
}

.Customers-right i::after{
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3C8A71;
    animation-name: Customersblink;
    animation-timing-function: ease;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    z-index: -1;

    
}
/* .Customers-right i::before{
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #3C8A71;
    animation-name: Customersblink;
    animation-timing-function: ease;
    animation-duration: 4s;
    animation-delay: 1.5s;
    animation-iteration-count: infinite;
    z-index: -11;

    
} */


@keyframes Customersblink{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}

/* Customers video  div*/
.Customers-right-video{
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.306);
    height: 100vh;
    z-index: 11111 !important;
    
}




.Customers-right-video-1 span{
    cursor: pointer;
    transition: all .3s ease;
}

.Customers-right-video-1{
    /* border: 3px solid red; */
    position: relative;
    cursor: pointer;
}

.Customers-right-video-1 i:hover{
    color: red !important;
}

.Customers-right-video-1 i{
    position: absolute;
    top: 0;
    left: 85%;
}


/* new section Let's-Work */
.Lets-Work{
    background-color: #275547;
    border-radius: 20px;
}

.Lets-Work h2{
    color: #ccff13;
    font-size: 3vw;
}

.Lets-Work p{
    color: white;
    font-size: 1.2vw;
}

.Lets-Work a{
    padding: 12px 15px;
    background-color: #3C8A71;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    transition: all .3s ease;
}

.Lets-Work a:hover{
    padding: 12px 15px;
    background-color: #275547;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
}


/* footer */

.footer{
    background-color: #1A211E;
}

.footer-logo{
    background-color: #3C8A71;
    border: 10px solid white;
    border-radius: 0 0 20px 20px;
}

.footer-logo img{
    width: 200px; 
}

/* footer sec line */
.footer-sec-left h2{
    color: white;
    font-size: 3.2vw;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-sec-right a{
    border: 1px solid white;
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 1.5vw;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s linear;
}

.footer-sec-right a:hover{
    background-color: #3C8A71;
}

/* footer third line  */
.footer-third-line-left a{
    color: white;
    text-decoration: none;
    font-weight: 550;
    /* font-size: 1vw; */
    transition: all .3s ease-in-out;
}

.footer-third-line-left a:hover{
    color: #3C8A71;
}


.footer-third-line-right a{
    text-decoration: none;

}

.footer-third-line-right i{
    background-color: #fff;
    color: #111;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
    transition: all .3s ease-in;
}

.footer-third-line-right  i:hover{
    background-color: #3C8A71;
    color: white;
}

/* footer four line */
.footer-four-line-left,.footer-four-line-right{
    border-top: 1px solid rgba(255, 255, 255, 0.333);
}







